/****** Navigation Style ******/
.my-nav {
  background: none;
  position: fixed;
  font-size: 18px;
  width: 100%;
  z-index: 999;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link {
  color: #b2b2b2;
}

my-nav .black {
  background: rgba(0, 0, 0, 0.6);
  height: 100px;
  padding: 10px 100px;
}

.nav-item {
  padding: 15px 25px;
}

.navbar-brand {
  font-size: 20px;
}

.nav-bg {
  background: rgba(0, 0, 0, 0.6) !important;
  transition-duration: 0.5s;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
}

/****** Main Content ******/
.header-content {
  background: rgba(0, 0, 0, 0.6) !important;
  height: 750px;
  width: 100%;
}

.header-div {
  margin-top: 250px;
  margin-left: 80px;
  position: absolute;
}

.text-prop {
  color: white;
}

.h1-text-prop {
  font-size: 90px;
  font-weight: bold;
  padding-bottom: 20px;
}

.h6-text-prop {
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}

.header-img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.header-btn-div {
  display: inline-block;
  padding-top: 25px;
}

.header-btn-prop {
  border-radius: 25px;
  height: 50px;
  margin-right: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.custom-column {
  height: 280px;
  margin: 20px;
}

.custom-column-image {
  align-content: center;
  height: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100px;
}

.custom-paragraph {
  text-align: center;
}

.experience-div {
  margin-top: 80px;
  padding-left: 120px;
  padding-right: 120px;
}

.experience-ul {
  list-style-type: none;
  margin-top: 20px;
  padding-left: 0;
}
